!!! 5
html(lang="en")
	head
		<!-- SCRIPTS -->

		<!-- STYLES -->
		//<link rel="stylesheet" type="text/css" href="/css/style.css" />
		//<link rel="stylesheet" title="cardsize" href="/css/bigcards.css" type="text/css" media="all" />
		<style>body { font-family: Arial; color: #333; }</style>

		
		title Maillog
	
	body
		h1 List of All Emails:
		.list!= body
